body {
	width: 100%;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.side {
	float: left;
	width: 200px;
	height: 120px;
	background: #add8e6;
}

.content {
	float: right;
	width: 800px;
	height: 120px;
}

.content-top {
	height: 60px;
	background: #87ceed;
	text-align: right;
}

.content-bottom {
	height: 60px;
	background: #00ffff;
	text-align: right;
}

table {
    margin: auto;
    margin-top: 10px;
}

table th {
    background-color: #87ceed;
}

table td {
    background-color: #e0ffff;
}

footer {
    width: 1000px;
    height: 50px;
    margin-top: 10px;
    background-color: #00ced1;
	margin: auto;
}
