body{
    background-color: gray !important;
    text-align:center;
    font-family: serif;
    color: white;
}


h1 {
    font-size: 25px;
    border-bottom: solid 2px white;
    margin-top: 80px;
    margin-bottom: 40px;
}

input {
    font-family: serif;
}

 